[user]
	email = hasek@akip.cz
	name = Jakub Hašek
	signingKey = 
[gpg]
	format = openpgp
	program = /usr/local/bin/gpg
[commit]
	gpgsign = false
[tag]
	forceSignAnnotated = false
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = 
[core]
	autocrlf = input
